{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "debug": false,
            "modules": false
          }
        ],
        "@babel/preset-typescript"
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "debug": false,
            "modules": false
          }
        ],
        "@babel/preset-typescript"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
              "node": "current"
            },
            "debug": false,
            "modules": "cjs"
          }
        ],
        "@babel/preset-typescript"
      ] // ,
      // "plugins": [
      //   [
      //     "@babel/plugin-transform-modules-commonjs",
      //     {
      //       "loose": true,
      //       "noInterop": true
      //     }
      //   ]
      // ]
    }
  }
}